@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap';

body{
    font-family: 'fredoka one', cursive;
    background-color: #041562;
}

#seleccionar-mascota{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
}
.tarjeta{
    display: flex;
    gap: 10px;
}
.tarjeta-de-mokepon{
    width: 120px;
    height: 100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon img{
    width: 40px;
}

input{
    display: none;
}

